<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true)%}
    {%if messages%}
    {%for category, message in messages%}

    {%if category == "error"%}
      {%set class_category = "danger"%}
    {%elif category == "message"%}
      {%set category = "error"%}
      {%set class_category = "danger"%}
    {%else%}
      {%set class_category = category%}
    {%endif%}

    <div class="alert alert-{{class_category}} alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">{{category.capitalize()}}!</h4>
        <hr>
        {{message|safe}}
      </div>



    {%endfor%}
    {%endif%}
    {%endwith%}
</div>