<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true)%}
    {%if messages%}
    {%for category, message in messages%}
    {%if category == "success"%}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Success!</h4>
        <hr>
        {{message}}
      </div>
    {%else%}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Error!</h4>
        <hr>
        {{message}}
      </div>
    {%endif%}
    {%endfor%}
    {%endif%}
    {%endwith%}
</div>