{%extends "base.html"%}
{%block title%}{{user.username}}{%endblock%}

{%block next_postit%}
<span style="font-size: 1.75vh;">
    <a class="text-white" href="{{url_for('views.user_gate_keeper', target_username=user.username)}}">{{user.username}}</a>
</span>
{%endblock%}



{%block page_left_sidebar%}{%endblock%}

{%block page_above_main_content%}
<!--Checked-Profile Exclusive Start-->  
<div class="row pt-1"><p class="display-6">Notes of {{user.name}} (@{{user.username}}):</p></div>
<!--Checked-Profile Exclusive End-->
{%endblock%}

{%block page_main_content%}{%include "display-notes.html"%}{%endblock%}

{%block page_below_main_content%}{%endblock%}

{%block page_right_sidebar%}{%endblock%}
