<div class="row pt-3 pb-5">
    <ul>
        {%for item in note_data%}
        <li class="list-group-item mt-3">
            <div class="card">
                <div class="card-header d-flex">
                {%if home%}
                    <div class="col"><strong>@<a id="user_profile_link" href="{{url_for('views.user_gate_keeper', target_username=item.user.username)}}">{{ item.user.username }}</strong></a> wrote: </div>
                {%else%}
                    <div class="col"><strong>@{{ item.user.username }}</strong> wrote: </div>
                {%endif%}
                {%if own_profile%}    
                    <!--Profile Exclusive Delete-Note Start-->
                    <div class="col d-flex justify-content-end">
                        <form action="{{url_for('views.delete_note', note_id=item.note.id)}}"
                        method="POST"
                        style="display: inline;"
                        onsubmit="return confirm('Are you sure you want to delete this note?');">
                        <button type="submit" class="btn btn-sm btn-close" id="delete_button"></button>
                        </form>
                    </div>
                    <!--Profile Exclusive Delete-Note End-->
                {%endif%}
                </div>
                <div class="card-content p-2 ml-2"><p class="p-2">{{ item.note.content }}</p></div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <form action="{{url_for('views.like_note', note_id=item.note.id)}}", method="POST">
                                {%if item.user_liked != None%}
                                    <button type="submit" class="btn btn-lg p-0 border-0 bg-transparent text-danger"><i class="fas fa-heart"></i></button>
                                    <span class="align-middle ms-2 ps-2 border-start border-dark">{{item.note.likes | length }} people liked</span>
                                {%else%}
                                        <button type="submit" class="btn btn-lg p-0 border-0 bg-transparent text-secondary" id="unliked_button"><i class="far fa-heart"></i></button>
                                        <span class="align-middle ms-2 ps-2 border-start border-dark">{{item.note.likes | length }} people liked</span>
                                {%endif%}
                            </form>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <p class="text-start text-muted mb-0 d-inline-block" style="margin-right: 0.5vw;"><small><strong>Posted On:</strong></small></p>
                            <p class="text-end text-muted mb-0 d-inline-block"><small>{{ item.note.date.strftime('%d-%m-%Y %H:%M') }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {%else%}
            <p>You have no notes yet.</p> 
        {%endfor%}
    </ul>
</div> 
{%include "load-more-link.html"%}