
<nav id="profile-left-sidebar">
    <div id="profile-picture-container"></div>
    <div id="settings-container">
        <ul class="setting-list">
            <li class="setting-list-head"><i class="fa-solid fa-user setting-head-icon" style="margin-right: 0.7vw;"></i>Account</li>
            <li class="setting-list-item">
                <a href="{{url_for('user_settings.settings', username=current_user.username)}}#edit-profile" class="setting-link"><span>Edit Profile</span><i class="fa-solid fa-chevron-right setting-arrow"></i></a></li>
            <li class="setting-list-item">
                <a href="{{url_for('user_settings.settings', username=current_user.username)}}#preferences" class="setting-link"><span>Preferences</span><i class="fa-solid fa-chevron-right setting-arrow"></i></a></li>
            <li class="setting-list-item">
                <a href="{{url_for('user_settings.settings', username=current_user.username)}}#account-security" class="setting-link"><span>Account Security</span><i class="fa-solid fa-chevron-right setting-arrow"></i></a></li>
        </ul>
        <ul class="setting-list">
            <li class="setting-list-head">
                <i class="fa-solid fa-bars setting-head-icon" style="margin-right: 0.7vw;"></i>More</li>
            <li class="setting-list-item">
                <a href="{{url_for('user_settings.settings', username=current_user.username)}}#language" class="setting-link"><span>Language</span><i class="fa-solid fa-chevron-right setting-arrow"></i></a></li>
            <li class="setting-list-item">
                <a href="{{url_for('user_settings.settings', username=current_user.username)}}#statistics" class="setting-link"><span>Statistics</span><i class="fa-solid fa-chevron-right setting-arrow"></i></a></li>
            <li class="setting-list-item">
                <a href="{{url_for('user_settings.settings', username=current_user.username)}}#account-freeze" class="setting-link"><span>Account Freeze</span><i class="fa-solid fa-chevron-right setting-arrow"></i></a></li>
        </ul>
        <ul class="setting-list">
            <li id="setting-logout-container"><a href="/logout" id="setting-logout-link"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
        </ul>
    </div>
</nav>