{%extends "base.html"%}
{%block title%}{{current_user.username}}{%endblock%}

{%block next_postit%}
<span style="font-size: 1.75vh;">
    {{current_user.username}}
</span>
{%endblock%}

{%block profile_active%}active{%endblock%}


{%block content%} 


<main>
    <div class="row min-vh-100">
        <div class="col-sm-1"></div>
        <div class="col-sm-9 pe-5 pt-5">
            <div class="row pt-3">{%include "alerts.html"%}</div>
            <div class="row pt-3"><p class="display-6">Hello {{current_user.name}}!</p></div>
            <div class="row pt-3">
                <form action="{{url_for('views.create_note')}}" method="POST">
                        <div class="form-group">
                            <label for="content" class="mb-2" style="font-size: 20px; margin-left:10px;">@{{current_user.username}}:</label>
                            <br>
                            <textarea name="content" id="content" class="form-control" style="height: 10vh;" placeholder="Write your note here."></textarea>
                        </div>
                        <div class="d-grid pt-3">
                            <button class="btn btn-primary btn-block" type="submit">Create and Share</button>
                        </div>
                </form>
            </div>
            <div class="row pt-5">
                <ul class="list-group list-group-flush d-flex flex-column-reverse">
                    {%for item in note_data%}
                    <li class="list-group-item">
                        <div class="card">
                            <div class="card-header d-flex">
                                <div class="col"><strong>@{{ item.user.username }}</strong> wrote: </div>
                                <div class="col d-flex justify-content-end">
                                <form action="{{url_for('views.delete_note', note_id=item.note.id)}}"
                                    method="POST"
                                    style="display: inline;"
                                    onsubmit="return confirm('Are you sure you want to delete this note?');">
                                    <button type="submit" class="btn btn-sm btn-close" id="delete_button"></button>
                                </form>
                                </div>
                            </div>
                            <div class="card-content p-2 ml-2"><p class="p-2">{{ item.note.content }}</p></div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <form action="{{url_for('views.like_note', note_id=item.note.id)}}", method="POST">
                                            {%if item.user_liked != None%}
                                                <button type="submit" class="btn btn-lg p-0 border-0 bg-transparent text-danger"><i class="fas fa-heart"></i></button>
                                                <span class="align-middle ms-2 ps-2 border-start border-dark">{{item.note.likes | length }} people liked</span>
                                            {%else%}
                                                    <button type="submit" class="btn btn-lg p-0 border-0 bg-transparent text-secondary" id="unliked_button"><i class="far fa-heart"></i></button>
                                                    <span class="align-middle ms-2 ps-2 border-start border-dark">{{item.note.likes | length }} people liked</span>
                                            {%endif%}
                                        </form>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <p class="text-start text-muted mb-0 d-inline-block" style="margin-right: 0.5vw;"><small><strong>Posted On:</strong></small></p>
                                        <p class="text-end text-muted mb-0 d-inline-block"><small>{{ item.note.date.strftime('%d-%m-%Y %H:%M') }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {%else%}
                        <p>You have no notes yet.</p> 
                    {%endfor%}
                </ul>
            </div>            
        </div>        
        <div class="col-sm-2 border-start border-dark">
            <div class="row pt-3"></div>
            <h3 class="text-white text-center">This is Profile Info Section</h3>
        </div>

    </div>
</main>
{%endblock%}