body {
    background-color: #f8f9fa;
    color: #333; /* Adjust text color for readability */
}

a {
    text-decoration: none;
}


#page_title {
    font-family: 'Lobster', cursive; /* Replace 'Lobster' with any other font from the list */
    font-size: 3vh; /* Adjust the size as needed */
}
#page_title_footer {
    font-family: 'Lobster', cursive;
    font-size: 2vh;
}

.dropdown-menu {
    position: absolute !important;
    right: 0 !important;
    left: auto !important; 
}

nav {
    opacity: .8;
}

.nav-dropdown-regular-item, #logout-button {
    text-align: center;
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}
.nav-dropdown-regular-item:hover {
    border-right: 6px solid lightsalmon;
    border-left: 6px solid lightsalmon;
}
.nav-dropdown-regular-item:active {
    background-color: lightsalmon;
    color: white;
}
#logout-button:active {
    background-color: #dc3545;
    color: white;
}
#logout-button:hover {
    border-right: 6px solid #dc3545;
    border-left: 6px solid #dc3545;
    border-radius: 2px;
}
#user_profile_link {
    color: #333 !important;
    transition: color 0.2s ease !important; 
}
#user_profile_link:hover {
    text-decoration: underline;
}
#user_profile_link:active {
    color: #0d6efd!important;
}
#unliked_button i {
    transition: color 0.3s, transform 0.3s;
}

#unliked_button:hover i {
    color: #dc3545; /* Change color to red */
    transform: scale(1.1);
    content: '\f004'; /* Unicode for filled heart */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Makes the heart solid */
}
.loader-container, .prev-page-container {
    margin: 10px;
    text-align: end;
}
.prev-page-container {
    text-align: start !important;
}
#load-more, #go-back {
    padding: 5px;
    color: #0d6efd;
    transition: background-color 0.2s ease-in, color 0.2s ease, border 0.2s ease-in-out;
}
#load-more:hover, #go-back:hover {
    border-bottom: 2px solid #0d6efd;
}
#load-more:active, #go-back:active {
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
}
#load-no-more {
    color: grey;
}
.muted-link:hover {
    text-decoration: underline;
}
footer {
    background-color: #333;
}

.footer-link {
    text-align: center;
    transition: border 0.2s ease;
}

.footer-link:hover {
    border-bottom: 2px solid white;
}
.footer-link:active {
    border-color: lightsalmon;
}

#footer-asy {
    color: lightsalmon
}

#footer-asy:hover {
    color: lightgray;
}
