body {
    background-color: #f8f9fa;
    color: #333; /* Adjust text color for readability */
}

a {
    text-decoration: none;
}
.current-page {
    color:peru
}
.form-control:focus {
    border: 1px solid peru;
    box-shadow: 0px 4px 6px peru;
}
.btn-postit {
    color: #333;
    border: 2px solid rgb(240, 123, 5);
    background-color: #f8f9fa;
    transition: background-color 0.6s ease, color 0.5s ease;
}
.btn-postit:hover {
    color: #f8f9fa;
    background-color: rgb(240, 123, 5);
}
#page_title {
    font-family: 'Lobster', cursive; /* Replace 'Lobster' with any other font from the list */
    font-size: 3vh; /* Adjust the size as needed */
}
#page_title_footer {
    font-family: 'Lobster', cursive;
    font-size: 2vh;
}

.dropdown-menu {
    position: absolute !important;
    right: 0 !important;
    left: auto !important; 
}
#main-nav-dropdown {
    margin-top: 1.25vh;
    box-shadow: 0 2px 4px 2px rgb(168, 86, 3, 0.3);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.main-nav {
    opacity: .8;
}
.nav-dropdown-arrow {
    margin-left: 1vh;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.nav-dropdown-link.show .nav-dropdown-arrow {
    color: peru;
    opacity: 1;
    transform: translateY(7px);
    font-size: 2vh;
    margin-left: 0.5vw;
}
.nav-dropdown-link{
    transition: color 0.2s ease;
}
.nav-dropdown-link:hover  .nav-dropdown-arrow {
    opacity: 1;
    transform: translateY(0);

}
.nav-dropdown-regular-item, #logout-button {
    text-align: center;
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}
.nav-dropdown-regular-item:hover {
    border-right: 6px solid peru;
    border-left: 6px solid peru;
}
.nav-dropdown-regular-item:active {
    background-color: peru;
    color: white;
}
#logout-button:active {
    background-color: #ad0214;
    color: white;
}
#logout-button:hover {
    border-right: 6px solid #ad0214;
    border-left: 6px solid #ad0214;
    border-radius: 2px;
}
#user_profile_link {
    color: #333 !important;
    transition: color 0.2s ease !important; 
}
#user_profile_link:hover {
    text-decoration: underline;
}
#user_profile_link:active {
    color: #0d6efd!important;
}
#unliked_button i {
    transition: color 0.3s, transform 0.3s;
}

#unliked_button:hover i {
    color: #dc3545; /* Change color to red */
    transform: scale(1.1);
    content: '\f004'; /* Unicode for filled heart */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Makes the heart solid */
}
.loader-container, .prev-page-container {
    margin: 10px;
    text-align: end;
}
.prev-page-container {
    text-align: start !important;
}
#load-more, #go-back {
    padding: 5px;
    color: #0d6efd;
    transition: background-color 0.2s ease-in, color 0.2s ease, border 0.2s ease-in-out;
}
#load-more:hover, #go-back:hover {
    border-bottom: 2px solid #0d6efd;
}
#load-more:active, #go-back:active {
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
}
#load-no-more {
    color: grey;
}
.muted-link:hover {
    text-decoration: underline;
}
footer {
    background-color: #333;
}

.footer-link {
    text-align: center;
    transition: border 0.2s ease;
}

.footer-link:hover {
    border-bottom: 2px solid white;
}
.footer-link:active {
    border-color: lightsalmon;
}

#footer-asy {
    color: lightsalmon
}

#footer-asy:hover {
    color: lightgray;
}

#profile-left-sidebar {
    position: sticky;
    top: 5vh;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    align-items: center;
}
#profile-picture-container {
    margin-top: 3vh;
    background-color: #333;
    border-radius: 100%;
    width: 70%;
    aspect-ratio: 1 / 1;
}

#settings-container {
    width: 100%;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.setting-list {
    padding-left: 0;
    padding-top: 1vh;
    list-style-type: none;
    width: 90%;
}
.setting-list-head {
    font-size: large;
    padding-bottom: 1vh;
    font-weight: bold;
    border-bottom: 1px solid gray;
    transition: border 0.3s ease;
}
.setting-head-icon {
    transition: color 0.3s ease;
}
.setting-list-item {
    color: gray !important;
    padding: 1vh;
    margin-left: 1.5vw;
    margin-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border 0.3s ease;
}
.setting-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    transition: color 0.3s ease;
}
.setting-arrow {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.setting-list:hover .setting-list-head{
    border-bottom: 1px solid peru;
}
.setting-list:hover .setting-head-icon {
    color: peru;
}

.setting-list-item:hover .setting-arrow {
    color: peru;
    opacity: 1;
    transform: translateX(0);
}
.setting-list-item:hover {
    border-bottom: 2px solid peru;
}
.setting-link:active { /*when the link is clicked*/
    color: peru
}
.setting-link.active { /*when the user is on the designated seciton */
    font-weight: bold;
    color: peru;
}
.setting-link.active .setting-arrow{
    font-size: 3vh;
    color: peru;
    opacity: 1;
    transform: translateX(10px);
}
#setting-logout-container { 
    text-align: center;
}
#setting-logout-link {
    color: gray;
    font-weight: bold;
    transition: color 0.2s step-end;
}
#setting-logout-link:hover {
    color: #ad0214;
}
#broken-pen {
    width: 10vh;
    height: auto;
    aspect-ratio: 1 / 1;
    opacity: .75;
}